.row {
    .links {
        background-color: #1E6C79;
        height: 90vh;
        .container {
            .img {
                text-align: center;
                img{
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                }
            }

            .social-link {
                margin-top: 3%;
                color: white;
                .social {
                    text-align: center;
                    // background-color: red;
                    padding-right:  12%;
                    padding-left:   12%;
                    padding-top: 10%;
                    .facebook {
                        img{
                            width: 2rem;
                            margin-right: 4%;
                            border-radius: 10%;
                        }
                        a{
                            text-decoration: none;
                            color: white;
                        }
                        a:hover{
                            font-weight: 600;
                        }
                    }
                    .linkedin {
                        padding-top: 5%;
                        img{
                            width: 2rem;
                            margin-right: 4%;
                            border-radius: 10%;
                        }
                        a{
                            text-decoration: none;
                            color: white;
                        }
                        a:hover{
                            font-weight: 600;
                        }
                    }

                    .whatsapp {
                        padding-top: 5%;
                        img{
                            width: 2rem;
                            margin-right: 4%;
                            border-radius: 10%;
                        }
                        a{
                            text-decoration: none;
                            color: white;
                        }
                        a:hover{
                            font-weight: 600;
                        }
                    }
                }
                .text-center {
                    .name {
                        font-size: 1.5rem;
                    }

                    .ocupa{
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
    .col-md-6 {
        padding-top: 3%;
        padding-bottom: 3%;
        
    }

    .form-contact{
        .container {
            padding-right: 10%;
            padding-left: 10%;
            .title  {
                margin-bottom: 10%;
            }
        }
    }
    .button {
        background-color: #1ABEBF;
    }
}