<div class="row">
  <div class="col-md-6 form-contact animate__animated animate__bounceInUp" style="font-family: HELN;">
    <div class="container">
      <div class="alert alert-success alert-dismissible fade show animate__animated animate__fadeInDown" role="alert" *ngIf="alert">
        <strong>Gracias!</strong> Pronto nos pondremos en contacto contigo.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="cerrar"></button>
      </div>
      <div class="text-center title">
        <h1>CONTÁCTAME</h1>
      </div>
      <form [formGroup]="form" (submit)="$event.preventDefault()" novalidate>
        <div class="field">
          <label class="label">Nombres</label>
          <div class="control">
            <input class="input" type="text" formControlName="nombres" placeholder="Nombres">
          </div>
        </div>

        <div class="field">
          <label class="label">Apellidos</label>
          <div class="control">
            <input class="input" type="text" formControlName="apellidos" placeholder="Apellidos">
          </div>
        </div>

        <div class="field">
          <label class="label">Correo Electronico</label>
          <div class="control">
            <input class="input" type="email" formControlName="email" placeholder="Correo eléctronico">
          </div>
        </div>

        <div class="field">
          <label class="label">Mensaje</label>
          <div class="control">
            <textarea class="textarea" formControlName="body" placeholder="Escribir aquí"></textarea>
          </div>
        </div>

        <div style="text-align: right !important;">
          <button type="submit" class="button is-link" (click)="enviar()">Enviar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6 links">
    <div class="container  animate__animated animate__bounceInUp" style="font-family: HELN;">
      <div class="img">
        <img src="https://e7.pngegg.com/pngimages/328/417/png-clipart-drawing-woman-black-hair-people.png" alt="">
      </div>
      <div class="social-link">
        <div class="text-center">
          <div class="name">
            <span>[Nombres y Apellidos]</span>
          </div>

          <div class="ocupa">
            <span>[ESPECIALIDAD]</span>
          </div>
        </div>

        <div class="social">
          <div class="facebook">
            <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="">
            <a href="https://www.facebook.com/" target="_blank">[Nombre de usuario]</a>
          </div>
          <div class="linkedin">
            <img src="https://cdn-icons-png.flaticon.com/512/124/124011.png" alt="">
            <a href="https://www.facebook.com/" target="_blank">[Nombre de usuario]</a>
          </div>
          <div class="whatsapp">
            <img src="https://img.utdstc.com/icon/ce6/4c5/ce64c5fdcab44eb799b11d71e554c06ede50bc8524cc906de9da7c9aed58983b:200" alt="">
            <a href="https://www.facebook.com/" target="_blank">[Nombre de usuario]</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
