<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="assets/img/logo.png" alt="Bulma: a modern CSS framework based on Flexbox">
    </a>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu" style="font-family: HELN;">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="navbar-item" [routerLink]="['/inicio']" routerLinkActive="active" > Inicio</a>
        <a class="navbar-item" [routerLink]="['/sobre-nosotros']" routerLinkActive="active" > Sobre Nosotros</a>
        <a class="navbar-item" [routerLink]="['/contactanos']" routerLinkActive="active" > Contáctanos</a>
      </div>
    </div>
  </div>
</nav>
