a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover {
    // border-bottom: 2px  solid white;
    background-size: 100% 2px;
}

.active {
    border-bottom: 2px  solid white;
}

.navbar {
    background-color: #1E6C79;
    margin-right: -5px;
    .navbar-end {
        .navbar-item{
            color: white !important;
        }
        .navbar-item:hover {
            background-color: transparent;
        }
    }
}

img {
    padding-left: 50px;
    width: auto !important;
    height: 60px !important;
    max-height: 100px !important;
}