.container{
    padding-top: 8%;
    padding-bottom: 8%;
    height: 85.5vh;
}

.image {
  padding: 5%;

  img {
    // width: 200px;
    box-shadow: 2px 2px 5px #999;
  }
}

table {
  tr {
    td {
      padding: 5%;
    }
  }
}
