<div class="container animate__animated animate__bounceInUp">
  <table>
    <tr>
      <td style="width: 40%;">
        <div class="image">
          <img [src]="serv.img" alt="">
        </div>
      </td>
      <td>
        <div class="name">
          <h2>{{ serv.nombre }}</h2>
        </div>
        <div class="description">
          <p>
            {{ serv.descripcion }}
          </p>
        </div>
      </td>
    </tr>
  </table>
</div>
