<div class="container  animate__animated animate__bounceIn">
  <table>
    <tr>
      <td class="img">
        <img src="https://e7.pngegg.com/pngimages/328/417/png-clipart-drawing-woman-black-hair-people.png" alt="">
      </td>
      <td class="text">
        <div class="name" style="font-family: Roboto-Black;">
          <span>[NOMBRES Y APELLIDOS]</span>
        </div>
        <div class="ocupa" style="font-family: HelveticaNeueLTPro-Th;"><span>
            [ESPECIALIDAD]
          </span></div>
        <div class="description" style="font-family: HELN;">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </td>
    </tr>
  </table>


  <h4 class="mt-5" style="font-family: HELN;">EXPERIENCIA</h4>
  <div class="row" style="font-family: HELN;">
    <div class="col-md-3" *ngFor="let item of reconocimientos">
      <div class="card">
        <div class="name">
          {{ item.nombre }}
        </div>
        <div class="anio">
          {{ item.anio  }} - {{ item.ciudad  }} - {{ item.pais }}
        </div>
        <div class="button-plus">
          <button class="button is-white" (click)="openModal(item)" style="color: #824394;">Ver mas detalles</button>
        </div>
      </div>
    </div>
  </div>
  

  <h4 class="mt-5" style="font-family: HELN;">RECONOCIMIENTOS</h4>
  <div class="row" style="font-family: HELN;">
    <div class="col-md-3" *ngFor="let item of reconocimientos">
      <div class="card">
        <div class="name">
          {{ item.nombre }}
        </div>
        <div class="anio">
          {{ item.anio  }} - {{ item.ciudad  }} - {{ item.pais }}
        </div>
        <div class="button-plus">
          <button class="button is-white" (click)="openModal(item)" style="color: #824394;">Ver mas detalles</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div id="modal-js-example" class="modal" [ngClass]="{'is-active' : open}">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <p>Modal JS example</p>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
</div> -->


<!-- <div class="modal" [ngClass]="{'is-active' : open}">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image is-4by3">
        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div> -->

<!--  -->

<div class="modal" [ngClass]="{'is-active' : open}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <!-- <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete" aria-label="close"></button>
      </header> -->
    <section class="modal-card-body ">
      <!-- Content ... -->
      <table class="animate__animated animate__fadeIn">
        <tr>
          <td style="font-family: HelveticaNeueLTPro-Th">
            <img [src]="recSelect.img" alt="">
            <div class="foot-photo text-center mt-2">
                <span class="pt-5"><small>{{ recSelect.fecha }}</small> </span>
                (<span>{{ recSelect.ciudad }}</span>)
            </div>
          </td>
          <td style="font-family: HELN;">
            <div class="title">
              {{ recSelect.nombre }}
            </div>
            <div class="description">
              <p>
                {{ recSelect.descripcion }}
              </p>
            </div>
          </td>
        </tr>
      </table>
      <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
    </section>
    <!-- <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button" (click)="closeModal()">Cancel</button>
      </footer> -->
  </div>
</div>
