.container {
  padding: 5% 0%;

  // background-color: red;
  table {
    tr {
      .img {
        padding: 2%;

        img {
          width: 100rem;
          height: 15rem;
          border-radius: 50%;
          box-shadow: 2px 2px 5px #999;
        }
      }

      .text {
        padding: 3% 5%;

        .name {
          font-size: 1.5rem;
        }

        .ocupa {
          font-size: 0.8rem;
        }

        .description {
          margin-top: 2%;
          // padding: 5% 3%;
          text-align: justify;
        }
      }
    }
  }

  .modal {
    .modal-content {
      // margin-left: 500px !important;
      width: 50px !important;
    }
  }

  .is-active {
    .modal-content {
      // margin-left: 500px !important;
      width: 50px !important;
    }
  }

  .row {
    .col-md-3 {
      padding: 1%;

      .card {
        position: relative;
        background-color: #824394;
        width: 50rem;
        height: 20rem;
        border-radius: 10%;
        box-shadow: 2px 2px 5px rgb(66, 66, 66);

        padding: 5%;

        .name {
          text-align: center;
          color: white;
        }

        .anio {
          text-align: center;
          font-size: 0.8rem;
          color: white;
          margin-top: 5%;
          position: absolute;
          right: 0;
          left: 0;
          bottom: 31%;
        }

        .button-plus {
          position: absolute;
          right: 0;
          left: 0;
          bottom: 10%;
          text-align: center;
          margin-top: 5%;
        }


      }
    }
  }
}


.modal {
  table{
    tr{
      td{
        padding: 2%;
        img{
          width: 200rem;
          box-shadow: 2px 2px 5px #999;
        }
      }
    }
  }
}