<app-header></app-header>
<router-outlet></router-outlet>
<a href="https://wa.me/51955838525" target="_blank" class="btn-flotante text-center animate__animated animate__bounceInUp">
    <div class="imagen">
        <img src="assets/img/contactenos.png" alt="">
    </div>
    <!-- Escribenos -->
</a>
<app-footer></app-footer>