<div id="carouselExampleSlidesOnly" class="carousel slide animate__animated animate__fadeInLeft" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/img/banner1.jpg" alt="First slide">
    </div>
  </div>
</div>

<div class="services animate__animated animate__fadeIn">
  <div class="text-center" style=" margin-left: 38%; margin-right: 38%; padding-bottom: 0.5%;">
    <h2 style="font-family: HELN; color: #1E6C79;">NUESTROS SERVICIOS</h2>
    <div>
      <hr style="border: #1E6C79 3px solid;">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of servicios">
        <img [src]="item.img" alt="">
        <div class="name-service">
          <span style="font-family: HELN;">{{ item.nombre }}</span>
        </div>
        <div class="button-open">
          <button routerLink="/detalle/{{ item.id }}" class="button green-btn is-small" style="font-family: Roboto-Black;">Ver más</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
