.services {
    .text-center {
        padding-top: 3%;
    }
    .container{
        // background-color: red;
        padding: 5% 5%;
        .col-md-4 {
            text-align: center;
            margin-top: 3%;
            img{
                width:  13rem;
                height: 13rem;
                border-radius: 50%;
                box-shadow: 2px 2px 5px #999;
            }
            .name-service {
                // color: white;
                padding: 3% 0%;
            }
            .button-open {
                
            }
        }
    }
}


.green-btn {
    background-color: #1E6C79 !important;
    color: white;
    border: none;
    box-shadow: #1E6C79;
    box-shadow: 2px 2px 5px #999;
  }