// @import '~animate.css/animate.min';


//PARRAFO
@font-face {
    font-family: 'HELN';
    src: url("assets/fonts/HELN.TTF")
};



@font-face {
    font-family: 'HelveticaNeueLTPro-MdEx';
    src: url("assets/fonts/HelveticaNeueLTPro-MdEx.otf")
};

@font-face {
    font-family: 'HelveticaNeueLTPro-Th';
    src: url("assets/fonts/HelveticaNeueLTPro-Th.otf")
};

@font-face {
    font-family: 'Roboto-Black';
    src: url("assets/fonts/Roboto-Black.ttf")
};