<div class="row" style="font-family: HelveticaNeueLTPro-Th;">
    <div class="container text-center p-2">
        <span style="color: white !important;">WhatsApp : (+51) 943 135 855</span>
    </div>
</div>